/*!
 * ABRUPT éditions
 */
@charset "UTF-8";
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-bold-webfont.woff2') format('woff2'),
         url('fonts/crimson-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-italic-webfont.woff2') format('woff2'),
         url('fonts/crimson-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/crimson-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('fonts/crimson-roman-webfont.woff2') format('woff2'),
         url('fonts/crimson-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Mono';
    src: url('fonts/fira-mono.woff2') format('woff2'),
         url('fonts/fira-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
html, body {
  height: 100%;
	width: 100%;
}

::-moz-selection {
  color: #333333;
  background-color: rgba(255,0,0,1);
}

::selection {
  color: #333333;
  background-color: rgba(255,0,0,1);
}

body {
  font-family: "Fira Mono", Garamond, Georgia, Times, serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  letter-spacing: .01em;
  line-height: 1.6;
  width: 100%;
  margin: 0 auto;
  padding: 0 3em;
  /* font-size: 1.6rem; */
  /* font-size: calc(1rem + 1vw); */
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  position: relative;
  background: #191919;
  color: #ffffff;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
    z-index: 500;
    mix-blend-mode: overlay;
		pointer-events: none;
  }
}
@media (min-width: 90em) {
  body {
    font-size: 2.4rem;
  }
}

a {
  margin: 0 0;
  padding: 0 0;
  font-style: normal;
  text-decoration: none;
  border: none;
  text-indent: 0em;
  outline: none;
  color: #fff;
}
a:hover, a:focus, a:active {
  background-color: none;
  color: #f00;
  text-decoration: none;
  outline: none;
  /* transition: background-color 0.3s, border-color 0.3s; */
}

code {
  /* correction milligram */
  background: #eeeeee;
  border-radius: 0;
  font-size: 1.5rem;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: pre-wrap;
  /*ajout*/
  font-family: "Fira Mono", Garamond, Georgia, Times, serif;
}
pre {
  /* correction milligram */
  background: #eeeeee;
  border-left: 0.3rem solid #333333;
  overflow-y: hidden;
  /*ajout*/
  overflow-x: auto;
  width: 80%;
  /* white-space: pre-wrap; */
  /* overflow-wrap: break-word; */
  /* width: 100%; */
  /* width: auto; */
}
pre > code {
  /* correction milligram */
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
  /* word-break: break-all; */
  /*ajout*/
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
  width: 100%;
  outline: none;
}

figure {
  margin: 0;
  margin-bottom: 1.6em;
}

figcaption p {
  /* font-style: italic; */
  margin-top: 0;
  font-size: 1.5rem;
}

figure a {
  margin: 0 0;
  padding: 0 0;
  color: unset;
	font-style: normal;
  border-bottom: unset;
  height: 1.6em;
  text-indent: 0em;
}

figure a:hover, figure a:focus, figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}


em {
  font-style: italic;
}

p {
  margin-bottom: 1.6em;
}

p + h1, p + h2, p + h3 {
  margin-top: 1.6em;
}

h1, h2, h3 {
  letter-spacing: 0.01rem;
  margin: 1.6em 0 0;
  line-height: 1.6;
  font-size: inherit;
  /* font-style: italic; */
  font-style: normal;
  font-weight: normal;
}

h2 {
  margin: 0 0;
}

h3 {
  margin: 0 0;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em auto;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
  text-decoration: none;
  text-align: left;
  /* Avec les espaces insécables */
  /* text-indent: -1.15em; */
  /* padding-left: 2.15em; */
  /* sans les espaces insécables */
}

ol {
  list-style: decimal outside;
  margin-left: 1em;
}

li {
  line-height: 1.6;
  margin: 0;
  /* list-style: none; */
  /* font-variant: small-caps; */
  /* text-decoration: none; */
}

.alignement-centre {
  text-align: center;
}

.alignement-droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.pasdesautdeligne {
  margin-bottom: 0;
}

.sautdeligne {
  margin-bottom: 1.6em;
}

.sautdeligneaudessus {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.footnotes {
  font-size: 0.8em;
}

.footnotes hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid #333333;
  margin: 3em auto 3em;
  padding: 0;
}

.footnote-ref a[href^="#fn:"] {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
}

.footnote-ref a[href^="#fn:"]:hover,
.footnote-ref a[href^="#fn:"]:focus,
.footnote-ref a[href^="#fn:"]:active {
  color: #333333;
  text-decoration: none;
  outline: none;
}

.footnotes p:last-of-type {
  margin-bottom: 0em;
  display: inline;
}

.footnote-return {
  text-decoration: none;
  border-bottom: none;
  color: #ff0000;
	font-style: normal;
}

.footnote-ref {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}

.footnote-back {
	font-style: normal;
  margin-left: 0.1em;
  text-decoration: none;
  border-bottom: none;
}


.title {
  text-align: center;
  font-size: 1.4em;
  margin: 0 0.5em;
}

.author {
  text-align: center;
  font-size: 1.2em;
  margin: 0 0 2em;
}

.publisher {
  text-align: center;
  font-size: 1.0em;
  margin: 0;
}

.marquetypographique {
  margin: 0 auto;
  width: 30vmin;
}
@media (max-width: 900px) and (orientation: landscape) {
.marquetypographique {
  display: none;
}
.author {
  margin: 0;
}
.title {
  text-align: center;
  font-size: 1.4em;
  margin: 0.5em;
}
.publisher {
  margin: 0;
}

}

.date {
  text-align: center;
  font-size: 1.0em;
}

/* Animation */
/* Glitch */
.glitch {
	position: relative;
}
.glitch:hover:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #333;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.glitch:hover:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #333333;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
.glitch--continu {
  position: relative;
  display: block;
}
.glitch--continu::before {
  content: attr(data-text);
  position: absolute;
  left: -4px;
  text-shadow: 1px 0 #fff;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2s infinite linear alternate-reverse;
}
.glitch--continu::after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  text-shadow: -1px 0 #ff0000;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 1s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip: rect(21px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(26px, 9999px, 85px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 66px, 0);
  }
  15% {
    clip: rect(71px, 9999px, 86px, 0);
  }
  20% {
    clip: rect(16px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(33px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(15px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(88px, 9999px, 14px, 0);
  }
  45% {
    clip: rect(78px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 98px, 0);
  }
  55% {
    clip: rect(40px, 9999px, 31px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 100px, 0);
  }
  65% {
    clip: rect(61px, 9999px, 72px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 28px, 0);
  }
  75% {
    clip: rect(83px, 9999px, 91px, 0);
  }
  80% {
    clip: rect(25px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 65px, 0);
  }
  95% {
    clip: rect(7px, 9999px, 85px, 0);
  }
  100% {
    clip: rect(73px, 9999px, 52px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 23px, 0);
  }
  5% {
    clip: rect(32px, 9999px, 82px, 0);
  }
  10% {
    clip: rect(41px, 9999px, 74px, 0);
  }
  15% {
    clip: rect(31px, 9999px, 92px, 0);
  }
  20% {
    clip: rect(65px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(52px, 9999px, 76px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 50px, 0);
  }
  35% {
    clip: rect(24px, 9999px, 91px, 0);
  }
  40% {
    clip: rect(8px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(57px, 9999px, 51px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 12px, 0);
  }
  55% {
    clip: rect(68px, 9999px, 35px, 0);
  }
  60% {
    clip: rect(88px, 9999px, 49px, 0);
  }
  65% {
    clip: rect(94px, 9999px, 36px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 97px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 21px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 95px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 4px, 0);
  }
  90% {
    clip: rect(15px, 9999px, 64px, 0);
  }
  95% {
    clip: rect(68px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(20px, 9999px, 84px, 0);
  }
}


/* Shake */
.shake {
  display: inline-block;
  vertical-align: top;
}
.shake:hover, .shake:focus, .shake:active {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.shake--continu {
  animation-name: shake;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: inline-block;
  vertical-align: top;
}
.shake--continu:hover, .shake--continu:focus, .shake--continu:active {
  animation: none;
}
@keyframes shake {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  26% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  36% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  38% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  60% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  64% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  68% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  72% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  78% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  80% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  92% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
  transform: translate(0, 0) rotate(0); }
}

/* Modifications spécifiques */
.contenu {
  /* max-width: 600px; */
  margin: 0 auto;
  margin-bottom: 4em;
}

.contenu--effet p {
  margin: 0em;
}

.haiku {
  margin: 0;
  padding: 0;
  text-align: center;
  will-change: text-shadow;
  animation: rgbText 20s steps(9) 0s infinite alternate;
}

header {
 text-align: center;
 margin: 1em 0;
 }
header .revelation {
  display: inline-block;
}

@keyframes revealRTL {
  0%{
    width: 0;
    right: 0;
  }
  65%{
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealLTR {
  0%{
    width: 0;
    left: 0;
  }
  65%{
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 400;
  opacity: .8;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &-moving {
    opacity: 1;
    z-index: 450;

    &:before {
      will-change: background-position;
      animation: noise 1s infinite alternate;
    }
  }
}

.scanlines {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 300;
  opacity: .6;
  will-change: opacity;
  animation: opacity 3s linear infinite;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    animation: scanlines .2s linear infinite;
  }
}


.logo {
  font-size: 1em;
  position: fixed;
  left: 2rem;
  top: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
}

.compteur {
  font-size: 1em;
  position: fixed;
  right: 2rem;
  top: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
  .verslehaut {
    cursor: n-resize;
  }
  .verslebas {
    cursor: s-resize;
  }
}

.message {
  font-size: 1em;
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  will-change: text-shadow;
  animation: rgbText 2s steps(9) 0s infinite alternate;
}

#callbacks-placeholder{
  position:fixed;top:50px;left:50px;color:yellow;z-index:999;
}

/* Animations */
@keyframes noise {
  0%, 100% {background-position: 0 0;}
  10% {background-position: -5% -10%;}
  20% {background-position: -15% 5%;}
  30% {background-position: 7% -25%;}
  40% {background-position: 20% 25%;}
  50% {background-position: -25% 10%;}
  60% {background-position: 15% 5%;}
  70% {background-position: 0 15%;}
  80% {background-position: 25% 35%;}
  90% {background-position: -10% 10%;}
}

@keyframes opacity {
  0% {opacity: .6;}
  20% {opacity:.3;}
  35% {opacity:.5;}
  50% {opacity:.8;}
  60% {opacity:.4;}
  80% {opacity:.7;}
  100% {opacity:.6;}
}

@keyframes scanlines {
  from {
    background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, .5) 51%);
		background-size: 100% 4px;
  }
  to {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 50%, transparent 51%);
		background-size: 100% 4px;
  }
}

@keyframes rgbText {
  0% {
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.6), 1px -1px 5px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 2px rgba(0, 233, 235, 0.8), 0px 0 2px rgba(0, 242, 14, 0.8), 0 0px 2px rgba(244, 45, 0, 0.8), 0px 0 2px rgba(59, 0, 226, 0.8);
  }
  25% {
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.6), 1px -1px 5px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 2px rgba(0, 233, 235, 0.8), 0px 0 2px rgba(0, 242, 14, 0.8), 0 0px 2px rgba(244, 45, 0, 0.8), 0px 0 2px rgba(59, 0, 226, 0.8);
  }
  45% {
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.6), 1px -1px 5px rgba(255, 255, 235, 0.7), 3px 0 1px rgba(251, 0, 231, 0.8), 0 3px 1px rgba(0, 233, 235, 0.8), -3px 0 1px rgba(0, 242, 14, 0.8), 0 -3px 1px rgba(244, 45, 0, 0.8), 3px 0 1px rgba(59, 0, 226, 0.8);
  }
  50% {
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.6), 1px -1px 5px rgba(255, 255, 235, 0.7), -3px 0 1px rgba(251, 0, 231, 0.8), 0 -3px 1px rgba(0, 233, 235, 0.8), 3px 0 1px rgba(0, 242, 14, 0.8), 0 3px 1px rgba(244, 45, 0, 0.8), -3px 0 1px rgba(59, 0, 226, 0.8);
  }
  55% {
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.6), 1px -1px 5px rgba(255, 255, 235, 0.7), 0px 0 2px rgba(251, 0, 231, 0.8), 0 0px 2px rgba(0, 233, 235, 0.8), 0px 0 2px rgba(0, 242, 14, 0.8), 0 0px 2px rgba(244, 45, 0, 0.8), 0px 0 2px rgba(59, 0, 226, 0.8);
  }
  90% {
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.6), 1px -1px 5px rgba(255, 255, 235, 0.7), -3px 0 1px rgba(251, 0, 231, 0.8), 0 3px 1px rgba(0, 233, 235, 0.8), 3px 0 1px rgba(0, 242, 14, 0.8), 0 -3px 1px rgba(244, 45, 0, 0.8), 3px 0 1px rgba(59, 0, 226, 0.8);
  }
  100% {
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.6), 1px -1px 5px rgba(255, 255, 235, 0.7), 3px 0 1px rgba(251, 0, 231, 0.8), 0 -3px 1px rgba(0, 233, 235, 0.8), -3px 0 1px rgba(0, 242, 14, 0.8), 0 3px 1px rgba(244, 45, 0, 0.8), -3px 0 1px rgba(59, 0, 226, 0.8);
  }
}

.fullpage-wrapper {
  #couverture {
  background: #191919;
	transition: all 0s ease-in-out;
  }
	.fp-section {
		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 1;
		}

		width: 100%!important;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: all .7s ease-in-out;

		.fp-slidesContainer {
			width: 100%!important;
			transform: none!important;

			.fp-slide {
				&.active {
					visibility: visible;
					opacity: 1;
					z-index: 1;
				}

				width: 100%!important;
				position: absolute;
				left: 0;
				top: 0;
				visibility: hidden;
				opacity: 0;
				z-index: 0;
				transition: all .7s ease-in-out;
			}
		}
	}
}
